button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 40px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #4cafa7;
  color: black;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}