button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 40px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #4cafa7;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* #rcorners {
  border-radius: 0px;
  overflow: hidden;
  border: 2px solid #2175ad;
  padding: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
} */